	body {background-color: #FE1650;margin: 13px;} #node {font-size: 4em;color:black;text-shadow: 2px 2px white;text-align:center;} #hh {font-size: 2em;text-align:center;color:white;margin-bottom: 3000px; } #sss {font-size: 40px;text-align:right;} a:nth-child(n):hover{background-color:black;color:red;font-size:1.002em;border:2px solid gold;padding:2px 6px 2px 6px; }
body {background-color: #FE1650;margin: 13px;}
	#naving {
		text-align:left;
		background-color: orange;
		border-radius: .5em;border-top-right-radius: 0;border-top-left-radius: 0;
		height:60px;
		border:0px solid gold;          /* copyy */
		font-size: 2em;
		color:green;
		font-style: italic;
	}
	#srcp1 {width:120px;height:120px;position:relative;left:20px;clear:left;}
	.font1 {font-size:1.6em;font-style: italic;color:white;text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;color:#FE1650;float: right;position: relative;top:.8em;right: 2em;}
	#r {position:absolute;top:50px;left:150px;}
	.vd {border:2px solid black; background-color: black;width: 100%;float:left;}
	a#scs:nth-child(n):hover{background-color:black;color:red;font-size:1.002em;border:2px solid gold;padding:2px 6px 2px 6px;}
